{% extends "base.html" %}
{% block content %}
<ul class='nav nav-pills justify-content-end'>
  <li class='nav-item'>
    <a class="nav-link active" href="{{url_for('users.register')}}">Register</a>
  </li>
</ul>
<div class="card">
  <div class="card-body">
    Please Fill the Form Below to Log In:
  </div>
</div>
  <form method="POST">
    {{form.hidden_tag()}}
    {{form.email.label}}   {{form.email}} {% for error in form.errors['email'] %} {{error}} {% endfor %}<br>
    {{form.password.label}}{{form.password}}<br>
    {{form.submit()}}
  </form>
{% endblock %}
